/*COLORES:
#1746A2 => AZUL
#5F9DF7 => CELESTE
#FFF7E9 => BEIGE
#FF731D => NARANJA
#f6f7f6 => BLANCO
*/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    position: relative;
    width: 100%;
}

#titulo{
    font-family:  'Alkatra', cursive, sans-serif;
    
}

.titulo{
    font-family:  'Alkatra', cursive, sans-serif;
    
}

.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
                         "content content sidebar"
                         "widget1 widget1 sidebar"
                         "footer footer footer";
}

.header{
    grid-area: header;
}

/*ESTILOS MENU*/
.menu{
    width: 100%;
    text-align: center;
    background-color: #1746A2;
    border-radius: 0  0 15px 15px;
    z-index: 1;
}
#Container__logo{
    display: flex;
    padding:8px 0 2px 10px;
    margin-right: auto;
    text-align:start;

}

#Container__logo #logo{
    border-radius: 50%;
    height: 45px;
    align-items: center;
    
}
#Container__logo #titulo{
    display: inline-block;
    color: #FF731D;
    font-size: 1.5rem;
    font-size: 1000;
    align-self: center;
    margin-left: 8px;
    /* margin-top: 7px; */

}



/*ESTILOS CONTENT*/

.content{
    background-color: #FFF7E9;
    grid-area: content;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px; 
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

h1{
    font-family: 'Prompt', sans-serif;
}


/*ESTILOS SIDEBAR*/

.sidebar{
    background-color: #de8e5d;
    grid-area: sidebar;
    padding: 20px;
    border-radius: 5px;
    margin-right: 20px;
}

.calles{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.hombre{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-bottom: 25px;
  }
  .ciudad{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-bottom: 25px;
  }

/*ESTILOS WIDGETS*/

.widget1{
    background-color: #de8e5d;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px;
    grid-area: widget1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Prompt', sans-serif;
    }


/*ESTILOS FOOTER*/
.footer{
  grid-area: footer;
  padding: 20px;
  margin:20px;
  border-radius: 5px;
  background: linear-gradient(to left, #d88b5b, #efe2cb);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footerinfo{
    font-family: 'Poppins', sans-serif;
}

.contenedorPrimerItem-footer{
    text-align: center;
}



