/*COLORES:
#1746A2 => AZUL
#5F9DF7 => CELESTE
#FFF7E9 => BEIGE
#FF731D => NARANJA
*/

*{
    margin: 0;
    box-sizing: border-box;
    padding-left: 0;
}
body{
    position: relative;
    width: 100%;
}
/*ESTILOS MENU*/
.menu{
    position:fixed;
    text-align: center;
    width: 100%;
    background-color: #1746A2;
    border-radius: 0  0 15px 15px;
    z-index: 1;
}

.item{
    display: inline-block;
}

.item > a{
    text-decoration: none;
}

.item__box{
    padding: 20px 20px 10px 20px;
    color: #f6f7f6;
    font-weight: 500;
}

.item__box > span{
    display: block;
    padding-top: 10px;
}

.item__box > i{
    width: 50px;
}
/*ESTILO BASICO DE LAS SECCIONES*/
.sections{
    display: flex;
    width: 100%;
    min-height: 550px;
    border: 3px solid black;
    flex-wrap: wrap;
    justify-content: center;
}
/*ESTILO FORMULARIO*/
.formulary{
    display: flex;
    width: 70vw;
    min-height: 250px;
    max-width: 880px;
    padding: 40px;
    margin-bottom: 100px;
    margin-top: 150px;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
    border-radius: 15px;
    flex-wrap: wrap;    
    justify-content: center;
}

.formulary__box{
    background-color: #f6f7f6;
    margin: 10px;
}
.formulary__boxcheck{
    text-align: center;
    width:70%;
    border-radius: 10px;
    padding:6px;
}
.formulary__boxdestiny{
    height: 100px;
    border-radius: 10px;
}
.formulary__boxdate{
    height: 100px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}
.formulary__boxrest{
    height: 100px;
    border-radius: 10px;
    text-align: center;
    padding: 8px;
}
.formulary__button{
    border-radius: 15px; 
}

.formulary__boxcheck > label{
    margin: 0 20px 0 20px;
}
.formulary__boxcheck__button{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #FF731D;

}
.formulary__boxcheck__button:checked{
    background-color: #FF731D;
    box-shadow:inset 0px 0px 0 2px #f6f7f6;


}
.formulary__boxdestiny__box> input{
    border:none;
    width: 250px;
    padding: 10px;
    margin: 6px;
    accent-color:#9A9BC0;
    border-radius: 10px;
    outline-color: #FF731D;
}

.formulary__boxdestiny__box> i{
    margin-left: 6px;
}
.formulary__boxdate > label{
    display: block;
    text-align: center;  
}
.formulary__boxdate > input{
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    outline-color:#FF731D;
}
.formulary__boxrest > input,select{
    display: block;
}
.formulary__button > button{
    border: none;
    background-color: #FF731D;
    color:#f6f7f6;
    font-size: 800;
    padding: 11px;
    width: 200px;
    border-radius: 15px;
}

/*CORTE PARA PANTALLA DE CELULAR*/
@media (max-width: 500px) {
 
}
/*CORTE PARA PANTALLA DE TABLET*/
@media (max-width: 1024px) {
 
}