/*COLORES:
#1746A2 => AZUL
#5F9DF7 => CELESTE
#FFF7E9 => BEIGE
#FF731D => NARANJA
#f6f7f6 => BLANCO
*/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    position: relative;
    width: 100%;
}
/*ESTILOS MENU*/
.menu{
    position:fixed;
    text-align: center;
    width: 100%;
    background-color: #1746A2;
    border-radius: 0  0 15px 15px;
    z-index: 1;
}

.item{
    display: inline-block;
}

.item > a{
    text-decoration: none;
}

.item__box{
    padding: 20px 20px 10px 20px;
    color: #f6f7f6;
    font-weight: 500;
}

.item__box > span{
    display: block;
    padding-top: 10px;
}

.item__box > i{
    width: 50px;
}
/*ESTILO BASICO DE LAS SECCIONES*/
.sections{
    display: flex;
    width: 100%;
    min-height: 550px;
    border: 3px solid black;
    flex-wrap: wrap;
    justify-content: center;
}
/*ESTILO FORMULARIO*/
.formulary{
    display: flex;
    width: 70vw;
    min-height: 250px;
    max-width: 880px;
    padding: 40px;
    margin-bottom: 100px;
    margin-top: 150px;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
    border-radius: 15px;
    flex-wrap: wrap;    
    justify-content: center;
}

.formulary__box{
    background-color: #FFF7E9;
    margin: 10px;
}

.formulary__boxcheck{
    text-align: center;
    width:70%;
    border-radius: 10px;
    padding:6px;
}

.formulary__boxdestination{
    min-width: 320px;
    height: 100px;
    border-radius: 10px;
}

.formulary__boxdate{
    width: 20%;
    height: 100px;
    text-align: center;
    padding: 6px;
    border-radius: 10px;
}

.formulary__boxrest{
    width: 20%;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
}

.formulary__button{
    width: 70%;
    text-align: center;
    background-color: transparent;
    border-radius: 15px; 
}

.formulary__boxcheck > label{
    margin: 0 20px 0 20px;

}
.formulary__boxcheck__button{
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #FF731D;

}
.formulary__boxcheck__button:checked{
    background-color: #FF731D;
    box-shadow:inset 0px 0px 0 2px #f6f7f6;
}

.formulary__boxdestination__box> input{
    border:none;
    width: 250px;
    padding: 10px;
    margin: 6px;
    accent-color:#9A9BC0;
    border-radius: 10px;
    outline-color: #FF731D;
}

.formulary__boxdestination__box> i{
    margin-left: 6px;
}

.formulary__boxdate__hide{
    margin-top: 12px;
}

.formulary__boxdate > div > label{
    display: block;
    text-align: center;  
}

.formulary__boxdate > div > input{
    margin-bottom: 3px;
    border-radius: 5px;
    border: none;
    outline-color:#FF731D;
}

.formulary__boxrest__div{
    margin-right: 0;
    text-align: center;
}

.formulary__boxrest__div> label{
    display: block;
    width: 100%;
}

.formulary__boxrest__div> select{
    border: none;
    padding:3px;
    border-radius: 6px;
    outline-color: #FF731D;
}

.formulary__boxrest > input{
    width: 60%;
    padding: 4px;
    margin-top: 10px;
    border-radius:8px;
    border:none;
    outline-color:#FF731D;
}

.formulary__button > button{
    border: none;
    background-color: #FF731D;
    color:#f6f7f6;
    font-size: 800;
    padding: 11px;
    width: 200px;
    border-radius: 15px;
}

/*ESTILO SECCIÓN DESTINOS*/

/*MADRID*/
.destination1{
    display: inline-block;
    padding: 20px;
    margin: 22px 8px 8px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos1{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino1{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino1{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos1{
    display: flex;
    align-items: center;
}

.avion-destinos1{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos1{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos1:hover { 
   color:#d88b5bfc;
}

.boton-info1{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info1:hover { 
    background: #5F9DF7
}

/*EDIMBURGO*/
.destination2{
    display: inline-block;
    padding: 20px;
    margin: 22px 8px 8px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos2{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino2{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino2{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos2{
    display: flex;
    align-items: center;
    margin: -1px 0px 0px 0px;
}

.avion-destinos2{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos2{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos2:hover { 
   color:#d88b5bfc;
}

.boton-info2{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info2:hover { 
    background: #5F9DF7
}


/*MYKONOS*/
.destination3{
    display: inline-block;
    padding: 20px;
    margin: 22px 8px 8px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos3{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino3{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino3{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos3{
    display: flex;
    align-items: center;
}

.avion-destinos3{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos3{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos3:hover { 
   color:#d88b5bfc;
}

.boton-info3{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info3:hover { 
    background: #5F9DF7
}

/*ROMA*/
.destination4{
    display: inline-block;
    padding: 20px;
    margin: 22px 8px 8px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos4{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino4{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino4{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos4{
    display: flex;
    align-items: center;
}

.avion-destinos4{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos4{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos4:hover { 
   color:#d88b5bfc;
}

.boton-info4{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info4:hover { 
    background: #5F9DF7
}


/*PARIS*/
.destination5{
    display: inline-block;
    padding: 20px;
    margin: 8px 8px 22px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos5{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino5{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino5{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos5{
    display: flex;
    align-items: center;
}

.avion-destinos5{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos5{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos5:hover { 
   color:#d88b5bfc;
}

.boton-info5{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info5:hover { 
    background: #5F9DF7
}

/*BRUSELAS*/
.destination6{
    display: inline-block;
    padding: 20px;
    margin: 8px 8px 22px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos6{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino6{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino6{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos6{
    display: flex;
    align-items: center;
    margin: -18px 0px 0px 0px
}

.avion-destinos6{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos6{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos6:hover { 
   color:#d88b5bfc;
}

.boton-info6{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info6:hover { 
    background: #5F9DF7
}


/*AMSTERDAM*/
.destination7{
    display: inline-block;
    padding: 20px;
    margin: 8px 8px 22px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos7{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino7{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino7{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos7{
    display: flex;
    align-items: center;
    margin: 33px 0px 0px 0px;
}

.avion-destinos7{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos7{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos7:hover { 
   color:#d88b5bfc;
}

.boton-info7{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info7:hover { 
    background: #5F9DF7
}

/*LISBOA*/
.destination8{
    display: inline-block;
    padding: 20px;
    margin: 8px 8px 22px 8px;
    background-color: #FFF7E9;
    width: 350px;
    height: 465px; 
    align-items: center;
    border-radius:10px;
}

.img-destinos8{
    width: 300px;
    height: 165px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    border-radius: 20px;
    margin: 10px auto;
    display: block;
}

.nombre-destino8{
  border: none;
  border-radius: 100px;
  padding: 5px 30px;
  color:#FFF7E9;
  background: linear-gradient(to left,#5F9DF7,#1746A2);
  margin: 0 auto;
  display: block;
}

.descripcion-destino8{ 
  margin:12px 0px 15px 0px;
  text-align: center;
  font-size: 15px;
}

.contenedor-acceso-vuelos8{
    display: flex;
    align-items: center;
    margin: 16px 0px 0px 0px;
}

.avion-destinos8{
  animation-name: flash;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  margin: 0px 0px 0px 35px;
}

@keyframes flash {
    from, 50%, to {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
  }

.acceso-vuelos8{ 
    color: #FF731D;
    text-decoration: none;
    margin-left: 5px;
}

.acceso-vuelos8:hover { 
   color:#d88b5bfc;
}

.boton-info8{ 
    margin: 15px auto;
    align-items: center;
    display: block;
    border: none;
    border-radius: 100px;
    padding: 9px 30px;
    color:#FFF7E9;
    background: linear-gradient(to left,#5F9DF7,#1746A2);
}

.boton-info8:hover { 
    background: #5F9DF7
}



/*CORTE PARA PANTALLA DE TABLET*/
@media (max-width: 1024px) {

    .formulary__boxcheck{
        width: 80%;
    }

    .formulary__boxdestination{
        width: 80%;
    }
    .formulary__boxdate{
        min-width: 125px;
        width: 40%;
    }
    .formulary__boxrest{
        width: 40%;
    }
}

/*CORTE PARA PANTALLA DE CELULAR*/
@media (max-width: 600px) {
    .formulary{
        width: 100%;
    }
    
    .formulary__boxcheck{
        width: 80%;
    }

    .formulary__boxdestination{
        width: 70%;
    }
    .formulary__boxdate{
        min-width: 125px;
        width: 80%;
    }
    .formulary__boxrest{
        width: 80%;
    }
    
 
}
